*{
    margin: 0;
    border: 0;
}
.main-box {
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 17, 177, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.disney {
font-family:'waltograph';
    text-align: center;
    color:white;
    font-size: 10em;
}
/* cinzel-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'waltograph';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/waltograph42.otf'); /* IE9 Compat Modes */
    src: url('../fonts/waltographUI.ttf') format('embedded-opentype'), /* IE6-IE8 */
         
  }