* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
span {
    font-weight: 500;
    font-size: 5em;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Waltograph;
}
.contenedor {
    width: 100%;
    height: 60vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 70px);
    grid-gap: 10px 20px;
}

.contenedor .inicio {
    grid-column-start: 4;
}
.box {
 background: rgb(215, 215, 215);
 padding: 10px;
 border-radius: 5px;
}

.dia {
    background-color: rgb(71, 174, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.festivo {
    background-color: rgb(232, 33, 33);
    color: white;

}                                                                                                                         