h1{
    text-align: center;
}
.pruduct-box {
    width: 350px;
    margin: 0 25px;
    display: inline-block;
}
.nombre-producto, .precio-producto {
    display: block;
    color: rgb(66, 65, 64);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nombre-producto {
    font-size: 1.5em;
}
.precio-producto {
    font-size: 2.5em;
    font-weight: 900;
}
img {
    width: 100%;
}