.main-box{
    display: flex;
    flex-direction: row;
}
.box-style{
    width: 250px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    text-align: justify;
    font-size: 1.3em;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.4em;
}
.box-1{
    border: 2px solid blue ;
    background-color: antiquewhite;
}
.box-2{
    border: 2px dotted brown;
    background-color: aquamarine;
}
.box-3{
    border: 2px dotted rgb(19, 120, 153);
    background-color: bisque;
}
.box-4{
    border: 2px dotted rgb(10, 9, 1);
    background-color: rgb(195, 165, 223);
}
h1{
    text-align: center;}