.box-1{
    width: 400px;
    height: 700px;
    border-radius: 25px;
    background-color: rgb(238, 117, 37);
    transition: all 300ms;
    position: fixed;
    left: -380px;
}
.box-1:hover{
 background-color: rgb(236, 4, 62);
 left: 0;
 cursor: pointer;
}